body{
	background: #DDDDDD;
}
nav{
	background:#1DBFCD;
	height: 80px;
}
nav ul{
	list-style: none;
	margin: 0;
}
nav ul li{
	display: inline-block;
	line-height: 70px;
	float: right;
	padding: 7px;
	margin-right:10px;
}
nav ul li a{
	text-decoration: none;

}
nav ul li.logo{
	margin: 0;
   float: left;
	padding: 1px;
	font-color: #EDEDED;
}
.knob{
	border-radius: 4px;
	padding: 12px 10px 12px 10px;
	border: none;
	display: inline-block;
	border: none;
	color: black;
	font-size:35px;
	font-family:方正姚体;
	 -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
	background-color: #939393;
    color: black;
}
.knob:hover {
    background-color: #D3D2D2 ;
    color:black;
	  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.30), 0 17px 50px 0 rgba(0,0,0,0.15);
}
.logo{
	font-size: 40px;
	font-family:方正舒体;
	font-weight: 300;
	letter-spacing: 1px;
	color: #EDEDED;
}
.article-preview{
	/* 宽度限制导致右边的图片无法float到最右 */
	/* width: 1080px; */
	min-height: 500px;
}
.article-preview > div{
	/* 此处的float会导致这些div都是float:left，这样会使得图片的float:right被覆盖 */
	/* float: left; */
}
.Baymax{
	padding: 50px 100px 10px 30px;
	width: 40%;
	height: 300px;
	float: left;
		
}
.belle{
	float:right;
	/* 宽度能固定就固定，尽量少用百分比。百分比在不同分辨率的设备下显示效果区别很大 */
	/* width: 40%; */
	width: 120px;
	height: 300px;
}
footer{
    background: #1DBFCD;
    color: #fff;
	clear: both;
	/* 使用固定fixed属性，让footer固定在底部。宽度需要设置成100%让他自适应。bottom:0 就是固定在底部。如果是top:0就是固定在顶部.*/
    position: fixed;
    width: 100%;
    bottom: 0;
}
ul{
	margin: 0;
}
ul .share-group{
	display: block;
	wiath:1080px;
	margin: 0 auto;
	padding: 50px;
}
.share-group li{
	display: inline-block;
	min-height: 100px;
	text-align: center;
}
.copy{
	padding-bottom: 30px;
}

.share-group{
	/* 块元素要居中的话，就要固定块元素的宽度，然后使用margin: 0 auto自动调整左右的间距 */
	width: 300px;
	margin: 0 auto;
}